%h1.center Log in
%section
  .form
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      
      .form__inputs
        = f.label :email
        %em (It will not be published)
        = f.email_field :email, autofocus: true, class: "form__input"
      
      .form__inputs
        = f.label :password
        %em (6 characters minimum)
        = f.password_field :password, autocomplete: "off", class: "form__input"
      
      - if devise_mapping.rememberable?
        .checkbox
          %label
            = f.check_box :remember_me
            Remember me
      
      .form__inputs
        = f.submit "Log in", class: "button button_confirm button_submit"
        
    = render "devise/shared/links"
