%h1.center Resend unlock instructions
%section
  .form
    = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!

      .form__inputs
        = f.label :email
        = f.email_field :email, autofocus: true, class: "form__input"

      .form__inputs
        = f.submit "Resend unlock instructions", class: "button button_confirm button_submit"

    = render "devise/shared/links"