.row
  .col-md-3.center
    %h1= @user.name
    = show_avatar(@user, 200)
    .userDate
      = "Registered " + time_ago_in_words(@user.created_at) + " ago."
    .userBooks
      = "Read " + "7 Lehane's books."
  .col-md-9.center
    .col-md-6
      %h1= "Comments added by " + @user.name
      -@user.comments.each do |comment|
        .well
          = comment.content
          .commentDate= "Added " + time_ago_in_words(comment.updated_at).to_s + " ago"  
    .col-md-6
      %h1= "Posts written by " + @user.name