%section.user
  .user__books
    %h1= @user.name
    = show_avatar(@user, 150)
    %p.user__registr-date
      = "Registered " + time_ago_in_words(@user.created_at) + " ago."
    - if @user.readers.count > 0
      %p
        %h2= "Read " + pluralize(@user.readers.count, "book") + ":"
        - @user.readers.each do |reader|
          %p= link_to Book.find(reader.book_id).title, book_path(reader.book_id)
    - else
      %h2 Hasn't read any books yet.
    - if @user.future_readers.count > 0
      %p
        %h2= "Plans to read " + pluralize(@user.future_readers.count, "book") + ":"
        - @user.future_readers.each do |future|
          %p= link_to Book.find(future.book_id).title, book_path(future.book_id)
  .user__input
    .user__content
      - if @user.comments.count > 0
        %h1= "Comments added by " + @user.name
        -@user.comments.each do |comment|
          .user__content-details
            = link_to comment.content, book_path(comment.book_id)
            .user__content-date= Book.find(comment.book_id).title + ", added " + time_ago_in_words(comment.updated_at).to_s + " ago"
      - else
        %h1= @user.name + " hasn't added any comments yet."  
    .user__content
      - if @user.posts.count > 0
        %h1= "Posts written by " + @user.name
        -@user.posts.each do |post|
          .user__content-details
            %h3= post.title
            %p= post.content
            .user__content-date= "Added " + time_ago_in_words(post.updated_at).to_s + " ago"
            %section
              - if user_signed_in? && (current_user.id == post.user_id || current_user.admin?)
                = link_to "Edit", edit_user_post_path(@user, post), class: "button button_confirm"
                = link_to "Delete", user_post_path(@user, post), method: :delete, class: "button button_deny", data: { confirm: "Are you sure?" }
      - else
        %h1= @user.name + " hasn't written any posts yet."