.row
  .col-md-3.center
    %h1.showUserHeader= @user.name
    = show_avatar(@user, 200)
    %p.userDate
      = "Registered " + time_ago_in_words(@user.created_at) + " ago."
    - if @user.readers.count > 0
      %p.userBooks
        = "Read"
        = @user.readers.count
        = "books:"
        .readBooks
          - @user.readers.each do |reader|
            %p= link_to Book.find(reader.book_id).title, book_path(reader.book_id)
    - else
      %p Hasn't read any books yet.


  .col-md-9.center
    .col-md-6
      %h1.showUserHeader= "Comments added by " + @user.name
      -@user.comments.each do |comment|
        .well
          = comment.content
          .commentDate= "Added " + time_ago_in_words(comment.updated_at).to_s + " ago"  
    .col-md-6
      %h1.showUserHeader= "Posts written by " + @user.name
      -@user.posts.each do |post|
        .well
          %h3= post.title
          %p= post.content
          .commentDate= "Added " + time_ago_in_words(post.updated_at).to_s + " ago"
          - if current_user.id == post.user_id
            = link_to "Edit", edit_post_path(post), class: "btn btn-primary"