.row
  .col-md-3.center
    %h1.showUserHeader= @user.name
    = show_avatar(@user, 200)
    %p.userDate
      = "Registered " + time_ago_in_words(@user.created_at) + " ago."
    - if @user.readers.count > 0
      %p.userBooks
        %h2= "Read " + pluralize(@user.readers.count, "book") + ":"
        .readBooks
          - @user.readers.each do |reader|
            %p= link_to Book.find(reader.book_id).title, book_path(reader.book_id)
    - else
      %h2 Hasn't read any books yet.
    - if @user.future_readers.count > 0
      %p.userBooks
        %h2= "Plans to read " + pluralize(@user.future_readers.count, "book") + ":"
        .readBooks
          - @user.future_readers.each do |future|
            %p= link_to Book.find(future.book_id).title, book_path(future.book_id)


  .col-md-9.center
    .col-md-6
      - if @user.comments.count > 0
        %h1.showUserHeader= "Comments added by " + @user.name
        -@user.comments.each do |comment|
          .well
            = link_to comment.content, book_path(comment.book_id)
            .commentDate= "Added " + time_ago_in_words(comment.updated_at).to_s + " ago"
      - else
        %h1.showUserHeader= @user.name + " hasn't added any comments yet."  
    .col-md-6
      - if @user.posts.count > 0
        %h1.showUserHeader= "Posts written by " + @user.name
        -@user.posts.each do |post|
          .well
            %h3= post.title
            %p= post.content
            .commentDate= "Added " + time_ago_in_words(post.updated_at).to_s + " ago"
            - if user_signed_in? && (current_user.id == post.user_id || current_user.admin?)
              = link_to "Edit", edit_user_post_path(@user, post), class: "btn btn-primary"
              = link_to "Delete", user_post_path(@user, post), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" }
      - else
        %h1.showUserHeader= @user.name + " hasn't written any posts yet."