%nav.navigation.navigation_theme_default.navigation_top
  .navigation__box
    / Brand and toggle get grouped for better mobile display
    .navigation__menu
      %button.navigation__toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navigation", "data-toggle" => "collapse", :type => "button"}
        %span.navigation__screen-reader Toggle navigation
        %span.navigation__toggle-bar
        %span.navigation__toggle-bar
        %span.navigation__toggle-bar
      %a.navigation__logo{:href => "/"} Don't You Like Lehane?
    #navigation.collapse.navigation_collapse
      %ul.nav.navigation__items
        %li
          = link_to "Books", books_path
        %li
          = link_to "Posts", posts_path
        %li
          = link_to "Users", users_path
        - if user_signed_in?
          - if current_user.admin?
            %li
              = link_to "Add book", new_book_path
          %li
            = link_to "Add post", new_user_post_path(current_user)
      %ul.nav.navigation__status
        - if user_signed_in?
          %li.navigation__dropdown
            %a.navigation__dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Signed in as #{current_user.name}
              -if current_user.admin?
                (Admin)
              %span= fa_icon "chevron-down"
            %ul.navigation__dropdown-menu
              %li
                = link_to "Edit", edit_user_registration_path
              %li
                = link_to "Profile", user_path(current_user)
              %li.divider{:role => "separator"}
              %li
                = link_to "Log out", destroy_user_session_path, method: :delete
        - else
          %li
            = link_to "Log in", new_user_session_path
          %li
            = link_to "Sign up", new_user_registration_path      

