.homePageFlashDiv
  .container
    = render "shared/flash"
%header.jumbotron.center.landingJumbo
  %h1 
    Don't you like
    %span Dennis Lehane???
  %p I thought so. Everybody likes Lehane and his books!
  = link_to "Sign up to start the fun!", new_user_registration_path, class: "btn btn-primary btn-lg" unless user_signed_in?
.container
  %h1.center Discover some of his best work!
  - @books.each do |book|
    %section
      %article.col-md-8.col-md-offset-2
        %a.booksLinks{href:"books/#{book.id}"}
          %section.well
            %figure= image_tag book.picture.url(:medium), class: "book col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0"
            .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-0
              .bookContent
                %strong Title:
                = book.title
              .bookContent  
                %strong Author:
                = book.author
              .bookContent
                %strong Description:
                = book.description
              .bookContent
                %strong Published at:
                = book.published_at.strftime("%B, %Y")
%footer.jumbotron.center.utilityJumbo
  .container-fluid
    %h1 Share your opinions about his books!              
    %section
      .col-md-4
        %div
          = fa_icon "comments 5x"
        %p Leave a comment about your favourite books. Exchange opinions and theories about author's work.
      .col-md-4
        %div
          =fa_icon "check-square-o 5x"
        %p Select the books you've already read and add the ones you plan to read.
      .col-md-4
        %div
          =fa_icon "lightbulb-o 5x"
        %p Post a rumours and your ideas for authors future work. No matter how unbelievable they are.  
