.flash__home-outside-box
  .flash__home-box    
    = render "shared/flash"
.space.space__landingasdfsadfsdf
  %h1 
    Don't you like
    %span Dennis Lehane???
  %p I thought so. Everybody likes Lehane and his books!
  = link_to "Sign up to start the fun!", new_user_registration_path, class: "button button_confirm button_lg" unless user_signed_in?
.books__box
  %h1 Discover some of his best work!
  - @books.each do |book|
    %section
      .board
        %a.books__links{href:"books/#{book.id}"}
          %section.books__all-details
            %figure= image_tag book.picture.url(:medium), class: "books__cover"
            // TODO adjust books__cover - it's too wide!!!
            .books__description
              .books__content
                %strong Title:
                = book.title
              .books__content  
                %strong Author:
                = book.author
              .books__content
                %strong Description:
                = book.description
              .books__content
                %strong Published at:
                = book.published_at.strftime("%B, %Y")
.space.space__utilities
  .space__box
    %h1 Share your opinions about his books!              
    %section
      .space__col
        = fa_icon "comments 5x"
        %p Leave a comment about your favourite books. Exchange opinions and theories about author's work.
      .space__col
        =fa_icon "check-square-o 5x"
        %p Select the books you've already read and add the ones you plan to read.
      .space__col
        =fa_icon "lightbulb-o 5x"
        %p Post a rumours and your ideas for authors future work. No matter how unbelievable they are.  
