%section
  .form
    = form_for book do |f|

      = render "shared/errors", obj: book

      .form__inputs
        = f.label :title
        = f.text_field :title, class: "form__input", autofocus: true

      .form__inputs
        = f.label :description
        = f.text_area :description, class: "form__input", rows: 6

      .form__inputs
        = f.label :published_at
        = f.date_field :published_at, class: "form__input"

      .form__inputs
        = f.label :picture, "Cover"
        = f.file_field :picture, class: "form__input"

      .form__inputs
        = f.submit (type == "new") ? "Add" : "Edit", class: "button button_confirm wide"