%h1.center Books
- @books.each do |book|
  .row
    .col-md-8.col-md-offset-2
      %a.booksLinks{href:"books/#{book.id}"}
        .row.well
          .col-md-6.flexColumn.center
            = image_tag book.picture.url(:medium), class: "bookImage"
          .col-md-6
            .bookContent
              %strong Title:
              = book.title
            .bookContent  
              %strong Author:
              = book.author
            .bookContent
              %strong Description:
              = book.description
            .bookContent
              %strong Published at:
              = book.published_at.strftime("%B, %Y")
