%h1.center= @book.title
.row
  %main.col-md-8.col-md-offset-2
    .row.well
      %figure= image_tag @book.picture.url(:medium), class: "book col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0"
      %section.col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-0
        .bookContent  
          %strong Author:
          = @book.author
        .bookContent
          %strong Description:
          = @book.description
        .bookContent
          %strong Published at:
          = @book.published_at.strftime("%B, %Y")
      .clear
      .bookButtons.center
        -if user_signed_in?
          = link_to "Comment", new_book_comment_path(@book, @comment), class: "btn btn-primary"
          - if wants_to_read_this?
            %span#removeFromWish= render "removeFromWish"          
          - else
            %span#addToWish= render "addToWish"
          - if already_read_this?
            %span#removeFromRead= render "removeFromRead"          
          - else
            %span#addToRead= render "addToRead"
      %article.commentContent.center
        %h1 Comments:
        - @comments.each do |comment|
          .row
            .col-md-6.col-md-offset-3.thumbnail
              %p= comment.content
              %p.commentDate
                = "Added by" 
                = link_to(User.find(comment.user_id).name, user_path(User.find(comment.user_id))).to_s + ", #{time_ago_in_words(comment.created_at)} ago"
                - if user_signed_in? && (comment.user_id == current_user.id || current_user.admin?)
                  %p= link_to "Delete", book_comment_path(@book, comment.id), book_id: @book.id, method: :delete, class: "btn btn-xs btn-danger", data: { confirm: "Are you sure?" }