%h1.center= @book.title
%section
  %article.books__card
    .books__all-details
      %figure= image_tag @book.picture.url(:medium), class: "books__cover"
      .books__description
        .books__content
          %strong Author:
          = @book.author
        .books__content
          %strong Description:
          = @book.description
        .books__content
          %strong Published at:
          = @book.published_at.strftime("%B, %Y")
      .clear
      .books__buttons.center
        -if user_signed_in?
          = link_to "Comment", new_book_comment_path(@book, @comment), class: "button button_confirm"
          - if wants_to_read_this?
            %span.js-wishlist__remove= render "removeFromWish"          
          - else
            %span.js-wishlist__add= render "addToWish"
          - if already_read_this?
            %span.js-read__remove= render "removeFromRead"          
          - else
            %span.js-read__add= render "addToRead"
      %article.commentContent.center
        %h1 Comments:
        - @comments.each do |comment|
          %section
            .col-md-6.col-md-offset-3.thumbnail
              %p= comment.content
              %p.commentDate
                = "Added by" 
                = link_to(User.find(comment.user_id).name, user_path(User.find(comment.user_id))).to_s + ", #{time_ago_in_words(comment.created_at)} ago"
                - if user_signed_in? && (comment.user_id == current_user.id || current_user.admin?)
                  %p= link_to "Delete", book_comment_path(@book, comment.id), book_id: @book.id, method: :delete, class: "button button_xs button_deny", data: { confirm: "Are you sure?" }