%h1.center Forgot your password?
.row
  .col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3.col-lg-4.col-lg-offset-4
    = form_for resource, as: resource_name, url: password_path(resource_name) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email, class: "control-label"
        = f.email_field :email, autofocus: true, class: "form-control"
      .form-group
        = f.submit "Send me reset password instructions", class: "btn btn-primary btn-wide"
    = render "devise/shared/links"
