%section
  .form
    = form_for [user, post] do |f|

      = render "shared/errors", obj: post

      .form__inputs
        = f.label :title
        = f.text_field :title, class: "form__input", autofocus: true

      .form__inputs
        = f.label :content
        = f.text_area :content, class: "form__input", rows: 6

      .form__inputs
        = f.submit (type == "new") ? "Add" : "Edit", class: "button button_confirm wide"