%h1.center All posts
- @posts.each do |post|
  .row
    .col-md-8.col-md-offset-2
      .well
        %h2.center= post.title
        %p= post.content
        %p.commentDate= "Posted by: " + User.find(post.user_id).name + ", " + time_ago_in_words(post.updated_at).to_s + " ago."
        -if user_signed_in? && (current_user.id == post.user_id || current_user.admin?)
          .center
            = link_to "Edit", edit_post_path(post), class: "btn btn-primary"
            = link_to "Delete", post_path(post), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to do that?" }