<!DOCTYPE html>
<html>
  <head>
    <title>Don't You Like Lehane?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track': 'reload' if params[:controller] == "pages" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



      <%= render "shared/navigation" %>
      <div class="flashContainer">
        <%= render "shared/flash"%>
      </div>
      <div class="mainContainer">
        <%= yield %>
      </div>



  </body>
</html>
