%h1.center
  Edit #{resource_name.to_s.humanize}
%section
  .form
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!

      .form__inputs
        = f.label :email
        %em (It will not be published)
        = f.email_field :email, autofocus: true, class: "form__input"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}

      .form__inputs
        = f.label :name
        = f.text_field :name, class: "form__input"

      .form__inputs
        = f.label :current_password
        = f.password_field :current_password, autocomplete: "off", class: "form__input"

      .form__inputs
        = f.label :password
        %i (leave blank if you don't want to change it)
        = f.password_field :password, autocomplete: "off", class: "form__input"

      .form__inputs
        = f.label :password_confirmation
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        = f.password_field :password_confirmation, autocomplete: "off", class: "form__input"

      .form__inputs
        = f.submit "Update", class: "button button_confirm button_submit"
    %h4 Unhappy?
    = link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?"}, method: :delete, class: "button button_deny" 
